/*TODO: Modifier les coleurs pour en avoir des plus persos*/

body {
    background-color: lightgray;
}

.movie-card a {
    width: 100%;
    height: 100%;
    display: block;
}

.hoverable{
    width: 230px;
    height: 100%;
}

.hoverable-content {
    color: white;
    background: rgba(0, 0, 0, 0.75);
    display: block;
    position: absolute;
    bottom: 0;
    left:0;
    padding: 12px;
    overflow-y: scroll;
    overflow-x: visible;
    width: 100%;
}

/*
.hover-action:hover .hoverable {
    display: block;
}
 */

@media screen and (min-width: 2640px) {
    .hoverable {
        display: none;
        position: absolute;
        top: 5%;
        left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        overflow-y: scroll;
        height: 100%;
    }

    /*
    .hover-action:hover .hoverable {
        display: block;
    }
     */
}
/*
.hover-action:hover>img {
    -webkit-filter: blur(5px);
    /* Safari 6.0 - 9.0
    filter: blur(5px) brightness(50%);
}
 */

.movie-deck {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 45%;
    width: 100%;


}

.movie-card {
    display: block;
    width: 100%;
    min-height: inherit;
    position: relative;
    text-align: justify;
    max-width:300px;
    margin-right: 10px;
}

.movie-deck .movie-card a:visited {
    color: white;
}

.movie-deck .card-img-overlay {
    overflow-y: scroll;
}

html,
body,
.container-fluid {
    height: 100%;
}


.movie-card img {
    height: 100%;
}

.movie-title {
}

.movie-synopsis {
}

.background-title {
    min-height: 40%;
}

.img-fluid {
    visibility: hidden;
}

.title-block {
    z-index: 1;
    background: white;
    width: 95%;
    margin: 0 auto;
    padding: 3%;
    margin-top: -100px;
    border-radius: 0;
}

.added-block {
    font-size: 1em;
    background: white;
    margin-top: 1em;
    padding: 0 1em;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}