body {
    background-color: lightgray;
}

.hoverable {
    display: none;
    position: absolute;
    top: 5%;
    left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    overflow-y: scroll;
    height: 100%;
}

.hover-action:hover .hoverable {
    display: block;
}

.hover-action:hover>img {
    -webkit-filter: blur(5px);
    /* Safari 6.0 - 9.0 */
    filter: blur(5px) brightness(50%);
}

.card-deck2 {
    display: inline-flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
}

.card-deck2 .card2 {
    display: inline-block;
    width: 100%;
    min-height: inherit;
    position: relative;
    text-align: justify;
}

.card-deck2 .card-img-overlay {
    overflow-y: scroll;
}

html,
body,
.container-fluid {
    height: 100%;
}

.card-deck2 {
    height: 45%;
    width: 100%;
}

.card2 img {
    height: 100%;
}

.movie-title {
    text-align: left;
    font-size: 5em;
}

.movie-synopsis {
    font-size: 3em;
}

.background-title {
    height: 40%;
}

.img-fluid {
    visibility: hidden;
}

.title-block {
    z-index: 1000000000000;
    background: white;
    width: 95%;
    margin: 0 auto;
    padding: 3%;
    margin-top: -100px;
    border-radius: 0;
}